{% load static %}
<!DOCTYPE html>
<html lang="en">
<head> 
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <meta name= "robots" content= "INDEX, FOLLOW">
  <!-- All Internal/External Css Start-->
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">
  <link rel="stylesheet" href="{%static 'css/swiper-bundle1.css'%}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/shiicons.css' %}">
  <link rel="stylesheet" href="{%static 'css/new-index.css'%}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/new-header.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}">
  <!-- <link rel="stylesheet" type="text/css" href="{% static 'css/master.min.css' %}"> -->
  <!-- <link rel="stylesheet" type="text/css" href="{% static 'css/icons.css' %}"> -->
  <!-- All Internal/External Css End-->
  <script src="{% static 'js/jquery3-3-1.js' %}"></script>
  <script src="{% static 'js/bootstrap.bundle.min.js'%}"></script>
  {% block head_block %}{% endblock %}
  <style>
    /* #header1{
      top: -65px; <div class="footerv marginT" style="margin-top: 110%;">margin-top: 156vh;
    } */
    .marginT{
      margin-top: 110%;
    }
    @media only screen and (max-width: 768px) { 
      .marginT{
      margin-top: 156vh;
      }
    }
    </style>
    </head>
    <body oncontextmenu="return false">
      <header id="header1" class="fixed-top d-flex align-items-center">
        <div class="navbar1  container d-flex align-items-center justify-content-between">
          <div class="logo">
            <a class="logoo" href="/"><img src="{% static 'images/SHI.png' %}" loading="lazy" alt="logo"></a>
          </div>
          <div id="down1">
            <form action="" method="post">
              <div class="bar1">
                <select class=" dropdown1 form-select " aria-label="Default select example">
                  <option selected>All credential</option>
                  <option value="1">Bangalore</option>
                  <option value="2">Chennai</option>
                  <option value="3">Hyderabad</option>
                </select>
                <span class="ver">|</span>
                <select class="dropdown2 form-select " aria-label="Default select example">
                  <option selected>Buy</option>
                  <option value="1">Rent</option>
                  <option value="2">Pg/Co-living</option>
                  <option value="3">Projects</option>
                </select>
                <span class="ver">|</span>
                <input type="text" id="searchInput" class="searchbar1"  placeholder="Search 'Your dream home with us'" title="Search">
                <i class="voice1 ShiIcons icon_voiceicon1 " id="startButton" title="serach by voice"></i>
                <span class="ver1">|</span>
              </div>
            </form>
          </div>
          <form action="" method="post">
            <li class="arrow1" ><button type="button"><span class="hideS">Search</span><i onclick="openNav1()" class="ShiIcons icon_search1"></i></button></li>
          </form>
          <a class="gets1" class=" popup-btn" data-popup="popup-reg" style="cursor:pointer;"> <button
              type="button">Property Posting<sup>Free</sup></button></a>
          <li class="user_menu1" id="user_menu">
            <div class="dropdown  userdrop ">
              <a href="#." ><i class="ShiIcons icon_user" ></i></a>
              <div class="dropdown-content">
                <a href="#.">
                  <h6> LOGIN/REGISTER</h6>
                </a>
                <a href="#">Quick access</a>
                <a href="#">About Us</a>
                <a href="#">Contact Us</a>
                <a class="tele" href="tel:123-456-7890"> <i class="ShiIcons icon_phonecall"></i>
                  <h6>Toll-Free | 10AM-8PM IST <button>1800-768-2234</button></h6>
                </a>
                <button id="Reqcall" type="button"> <i class="ShiIcons icon_phonecall1"></i>Request a callback</button>
              </div>
            </div>
          </li>
          <li class="index_menu"><button type="button"><i onclick="openNav()" class="ShiIcons icon_toggle"
                style="cursor: pointer;"></i></button></li>
                <div id="mysidenav" class="sidenav">
                  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"><i class="ShiIcons icon_cross"></i></a>
                  <a href="#"><i class="ShiIcons icon_user1"></i>
                    <h6 style="font-weight: 600;">LOGIN/REGISTER</h6>
                  </a>
                  <a href="#">Home Loan</a>
                  <a href="#">Interior</a>
                  <a href="#">Legal Property</a>
                  <a href="#">Technical Evaluation</a>
                  <a href="#">Refer$Earn</a>
                  <a href="#">Investor</a>
                  <a href="#">About Us</a>
                  <a class="tele1" href="tel:123-456-7890"><i class="ShiIcons icon_phonecall"></i>
                    <h6>Toll-Free | 10AM-8PM IST <button>1800-768-2234</button></h6>
                  </a>
                </div>
        </div>
      </header>
   <!-- ========= BLOCK ============ -->
   {%block body_block%} {%endblock%}
    <!-- Footer Start -->
   <!-- <div class="marginT"></div> -->
 <div class="footerv">
  <div class="container">
      <div class="row">
         
          <!--Footer About-->
          <div class="col-md-3 col-lg-3">
            <div class="footer-about ">
                <h3>About Us</h3>
                <p style="text-align: justify; line-height: 20px; word-spacing: -1px;">
                  We pride ourselves in relationships, every client is a priority. Our goal is to facilitate the sale 
                  or purchase of your Home/ Plot/ Land by making sure that we grasp an understanding of your objective. At Search Homes India, 
                  we understand that buying or selling a Apartments/ Plot/ Villas is more than just a transaction
                  , it is a life-changing!
                </p>
                <div class="footer-social ">
                  <a class="aq" href="https://www.instagram.com/searchhomesindia_/?igshid=7ipgwp7nfpjf" style="background-color: rgb(255,0,148);"><i class="ShiIcons icon_inst"></i></a>
                    <a class="aq" href="https://www.facebook.com/searchhomesindia" style="background-color: rgb(21,162,250);"><i class="ShiIcons icon_face"></i></a>
                    <a class="aq" href="https://twitter.com/SearchhomesIndi" style="background-color: rgb(29,161,242);"><i class="ShiIcons icon_twit"></i></a>
                    <a class="aq" href="https://in.linkedin.com/company/search-homes-india" style="background-color: rgb(0,119,181);"><i class="ShiIcons icon_link"></i></a>
                    <a class="aq" href="https://www.youtube.com/channel/UCL-jPeknKXvpJG10vDw6cCg" style="background-color:rgb(255,0,0);"><i class="ShiIcons icon_yout"></i></a>
                    <a class="aq" href="https://api.whatsapp.com/send?phone=918147267372&amp;text=I%20am%20looking%20property%20in%20bangalore" style="background-color: rgb(41,173,23);"><i class="ShiIcons icon_what"></i></a>
                </div>
            </div>
        </div>
        <!-- =============================================================== -->
           <!--Contact Us-->
           <div class="col-md-3 col-lg-3">
            <div class="footer-contact">
                <h3>Get In Touch</h3>
                <p>Search Homes India Pvt Ltd, No 280 3rd Floor, 5th Main Rd, 6th Sector, HSR Layout, Bengaluru, Karnataka 560102</p>
                <p><a href="tel:+916360016550" style=" color: rgba(255, 255, 255, 0.929);" ><i class="ShiIcons  icon_phonecall1"></i>+91-6360016550</a></p>
                <p><i class="ShiIcons1 icon_mail"></i>info@searchhomesindia.com</p>
                <p><i class="ShiIcons icon_time"></i>Tue - Sun, 10AM - 7PM</p>
            </div>
        </div>
        <!-- ========================================================== -->
        <!-- footer link============================= -->
        <div class="col-md-3 col-lg-3">
          <div class="footer-links">
              <h3>Useful Links</h3>
              <a class="aq" href="/" title="Home"><i class="ShiIcons icon_home"></i> Home</a>
              <a class="aq" href="/blog" title="Real Estate News"><i class="ShiIcons icon_blog"></i> Blog</a>
              <a class="aq" href="/career" title="career"><i class="ShiIcons icon_careers"></i> Career</a>
              <a class="aq" href="/contact" title="Contact Us"><i class="ShiIcons icon_phonecall1"></i> Contact Us</a>
              <a class="aq" href="/timeline" title="Company Services Timeline" ><i class="ShiIcons icon_eye"></i> Property Real Time View</a>
              <a class="aq" href="/faq" title="Frequently Asked Questions"><i class="ShiIcons icon_quest"></i> Frequently Asked Questions</a>
          </div>
      </div>
        <!-- ============================================================ -->
      
        <!-- footer know more=======================> -->
           <div class="col-md-3 col-lg-3">
            <div class="footer-knowmore">
              <h3>Explore More</h3>
            <p ><a class="aq" href="/about" title="About Us"><i class="ShiIcons  icon_about"></i> About</a></p>
            <p ><a class="aq" href="/faq" title="Frequently Asked Questions"><i class="ShiIcons  icon_faq"></i> FAQ's</a></p>
            <p ><a class="aq" href="/testimonials" title="Testimonials"><i class="ShiIcons  icon_testimonials"></i> Testimonials</a></p>
            <p ><a class="aq" href="/terms" title="Terms And Conditions"><i class="ShiIcons  icon_tc"></i> T&C</a></p>
            <p ><a class="aq" href="/smartsearch" title="Smart Search"><i class="ShiIcons  icon_search2"></i> SmartSearch</a></p>
            <p ><a class="aq" href="/timeline" title="Company Services Timeline"><i class="ShiIcons icon_services"></i> Services</a></p>
            <p ><a class="aq" href="/loan-calculator" title="Loan Calculator"><i class="ShiIcons  icon_calci"></i> Calculator</a></p>
            </div>
          </div>
<!-- ======================================================================= -->
      </div>
  </div>
 <!-- Newswletter Tab Comment On the national Apartments  -->
  <div class="copyright" style="background-color:#fff; border-top-right-radius: 40px; border-top-left-radius: 40px;">
      <div class="container">
          <div class="row align-items-center">
            <!--Copy Right-->
            <div class="col-md-6">
              <div class="copy-text">
                  <p>&copy; <a class="aq" href="#">Search Homes India Pvt. Ltd.</a> All Rights Reserved CIN Number: U70109KA2015PTC084843</p>
              </div>
          </div>
              <!--Footer Menu-->
              <div class="col-md-6">
                <div class="copy-menu">
                    <a class="aq" href="/about" title="About Us">About</a>
                    <a class="aq" href="/terms" title="Terms And Conditions">Terms</a>
                    <a class="aq" href="/privacy-policy">Privacy</a>
                    <a class="aq" href="/contact" title="Contact Us">Contact</a>
                </div>
            </div>
          </div>
      </div>
  </div>
</div>
  <!-- footer end================================================ -->
<!-- interakt WhatsApp Script Start -->
<script>
  (function(w,d,s,c,r,a,m){
    w['KiwiObject']=r;
    w[r]=w[r] || function () {
      (w[r].q=w[r].q||[]).push(arguments)};
    w[r].l=1*new Date();
      a=d.createElement(s);
      m=d.getElementsByTagName(s)[0];
    a.async=1;
    a.src=c;
    m.parentNode.insertBefore(a,m)
  })(window,document,'script',"https://app.interakt.ai/kiwi-sdk/kiwi-sdk-17-prod-min.js?v="+ new Date().getTime(),'kiwi');
  window.addEventListener("load",function () {
    kiwi.init('', '28QIIr5jYVQ75UHmnqrDyJW6u6ejbx8D', {});
  });
</script>
<!-- interakt WhatsApp Script End -->
  <!--===== REQUIRED JS =====-->
  <script src="{% static 'js/new-header.js'%}"></script>
  <script>
    const startButton = document.getElementById('startButton');
    const searchInput = document.getElementById('searchInput');

    let recognition = new webkitSpeechRecognition() || new SpeechRecognition();
    recognition.continuous = true;
    recognition.interimResults = true;
    recognition.lang = 'en-US'; // Set the language for speech recognition

    recognition.onresult = function(event) {
      const result = event.results[event.results.length - 1];
      const transcript = result[0].transcript;
      searchInput.value = transcript; // Input the recognized speech into the search input
    };

    recognition.onend = function() {
      startButton.textContent = '....';
    };

    startButton.addEventListener('click', function() {
      if (recognition.running) {
        recognition.stop();
        startButton.textContent = '....';
      } else {
        recognition.start();
        startButton.textContent = '...';
        searchInput.value = 'Listening...';
      }
    });
  </script>
  <!-- <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/bootsnav.min.js' %}"></script> -->
  <!--To View on scroll-->
  <!-- <script src="{% static 'js/jquery.appear.min.js' %}"></script> -->
  <!--Owl Slider-->
  <!-- <script src="{% static 'js/owl.carousel.min.js' %}"></script> -->
  <!--Parallax-->
  <!-- <script src="{% static 'js/parallaxie.min.js' %}"></script> -->
  <!--Fancybox-->
  <!-- <script src="{% static 'js/jquery.fancybox.min.js' %}"></script> -->
  <!--Cube Gallery-->
  <!-- <script src="{% static 'js/cubeportfolio.min.js' %}"></script> -->
  <!--Bootstrap Dropdown-->
  <!-- <script src="{% static 'js/bootstrap-select.min.js' %}"></script> -->
  <!--Video Popup-->
  <!-- <script src="{% static 'js/videobox/video.min.js' %}"></script> -->
  <!--Datepicker-->
  <!-- <script src="{% static 'js/datepicker.min.js' %}"></script> -->
  <!--Dropzone-->
  <!-- <script src="{% static 'js/dropzone.min.js' %}"></script> -->
  <!--Wow animation-->
  <!-- <script src="{% static 'js/wow.min.js' %}"></script> -->
  <!--Rang Slider-->
  <!-- <script src="{% static 'js/range-Slider.min.js' %}"></script> -->
  <!--Checkbox-->
  <!-- <script src="{% static 'js/selectbox-0.2.min.js' %}"></script> -->
  <!--Checkbox-->
  <!-- <script src="{% static 'js/scrollreveal.min.js' %}"></script> -->
  <!--Checkbox-->
  <!-- <script src="{% static 'js/jquery-countTo.min.js' %}"></script> -->
  <!--Checkbox-->
  <!-- <script src="{% static 'js/jquery.typewriter.min.js' %}"></script> -->
  <!--Checkbox-->
  <!-- <script src="{% static 'js/death.min.js' %}"></script> -->
  <!--Revolution Slider-->
  <!-- <script src="{% static 'js/validation.js' %}"></script>
  <script src="{% static 'js/themepunch/jquery.themepunch.revolution.min.js' %}"></script> -->
<!--Custom Js -->
  <!-- <script src="{% static 'js/functions.min.js' %}"></script> -->
  <!--Maps & Markers-->
  <!-- <script src="{% static 'js/form.min.js' %}"></script>
  <script src="{% static 'js/custom-map.min.js' %}"></script>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAOBKD6V47-g_3opmidcmFapb3kSNAR70U"></script>
  <script src="{% static 'js/gmaps.min.js' %}"></script>
  <script src="{% static 'js/contact.min.js' %}"></script> -->
  <!--===== #/REQUIRED JS =====-->
  <!-- loading Image Lazy JavaScript -->
  <!-- <script>
  document.addEventListener("DOMContentLoaded",function(){let e;if("IntersectionObserver"in window){e=document.querySelectorAll(".lazy-load");let t=new IntersectionObserver(function(e,n){e.forEach(function(e){if(e.isIntersecting){let n=e.target;n.src=n.dataset.src,n.classList.remove("lazy-load"),t.unobserve(n)}})});e.forEach(function(e){t.observe(e)})}else{let n;function r(){n&&clearTimeout(n),n=setTimeout(function(){let t=window.pageYOffset;e.forEach(function(e){e.offsetTop<window.innerHeight+t&&(e.src=e.dataset.src,e.classList.remove("lazy-load"))}),0==e.length&&(document.removeEventListener("scroll",r),window.removeEventListener("resize",r),window.removeEventListener("orientationChange",r))},20)}e=document.querySelectorAll(".lazy-load"),document.addEventListener("scroll",r),window.addEventListener("resize",r),window.addEventListener("orientationChange",r)}});
  </script> -->
</body>
</html>