{%extends "base(Home).html"%}
{% load static %}
{% block head_block %}
<title>Search Homes India: Best Real Estate Platform in Bangalore</title>
<meta data-react-helmet="true" name="keyword"
  content="real estate consultant in bangalore, best real estate platform in Bangalore, real estate broker in Bangalore, real estate platform in Bangalore, property management company in  bangalore">
<meta data-react-helmet="true" name="description"
  content="Search Homes India is the best real estate platform in Bangalore that can help in buying or selling properties with the financial support and experts advice">
  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">
  <!-- Vendor CSS Files -->
  <link rel="stylesheet" href="{%static 'css/swiper-bundle1.css'%}"/>
  <link rel="stylesheet" href="{%static 'css/new-index.css'%}">
{% endblock %}
{%block body_block%}
  <style>
    * {
      box-sizing: border-box;
    }
    .bg-img {
      background-image: url("{% static 'images/new-banner.avif'%}");
        min-height: 380px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      width: 100%;
    }

    @media only screen and (max-width: 768px) {
      .bg-img {
        background-image: url("{% static 'images/new-banner.avif'%}");
        min-height: 235px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        margin-top: 0%;
      }
      .containerw1 {
        display: none;
      }
    }
    .imagesIcon {
      background: url("{% static 'images/toolsimg.jpg'%}");
    width: 70px;
    height: 70px;
    background-size: 1560px 149px;
    display: inline-block;
    vertical-align: middle;
    font-style: normal;
    background-repeat: no-repeat;
    }
.imagesIcon.icon_thum {
    background-position: -983px -40px;
}
.imagesIcon.icon_thum1 {
    background-position: -190px -40px;
}
.imagesIcon.icon_thum2 {
    background-position: -358px -40px;
}
.imagesIcon.icon_thum3 {
    background-position: -758px -40px;
}
.imagesIcon.icon_thum4{
    background-position: -543px -40px;
}
#header1 {
  top: -65px;
}
.ShiIcons {
  background: url("{% static 'images/SHIicons2.png'%}");
    width: 24px;
    height: 24px;
    background-size: 450px 287px;
    display: inline-block;
    vertical-align: middle;
    font-style: normal;
    background-repeat: no-repeat;
    }

.ShiIcons.icon_toggle {
    background-position: -346px -24px;
}
.index_menu1{
  right: 16px;
}
.ShiIcons.icon_user {
  background-position: -160px -120px;
}
.ShiIcons.icon_user1 {
  background-position: 0px -95px;
}
.ShiIcons.icon_search {
  background-position: -27px 0px;
  margin-left: 15px;
}
.ShiIcons.icon_search1 {
  background-position: -1px -71px;
}
.ShiIcons.icon_voiceicon {
  background-position: -286px -98px;
position: absolute;
right: 160px; 
bottom: 17px;
}
.ShiIcons.icon_voiceicon1 {
  background-position: -128px -120px;
}
.ShiIcons.icon_cross {
  background-position: -400px -24px;
  margin-right: -10px;
  margin-top: -3px;
}
.ShiIcons.icon_phonecall{
  background-position: -162px -240px;
}
.ShiIcons.icon_phonecall1{
  background-position: -187px -240px;
}

.ShiIcons.icon_cross1 {
  background-position: 0px -20px;
}

  </style>
</head>
<body>
  <main id="main">
    <!-- top section start=============== -->
    <div class="top">
      <!-- ======= -main nav header of 1st page start  ======= -->
      <header id="header" class="fixed-top d-flex align-items-center">
        <div class="container d-flex align-items-center justify-content-between">
          <div class="logo">
            <a href="index.html"><img src="{%static 'images/SHI.png'%}" loading="lazy" alt="logo" class="img-fluid"></a>
          </div>
          <nav id="navbar  " class="navbar">
            <a href="#."><button type="button">About</button></a>
            <a href="#."><button type="button">Services</button></a>
            <a href="#."><button type="button">Investor</button></a>
            <a href="#."><button type="button">Reffer $ Earn</button></a>
            <a href="#."><button type="button">Careers</button></a>
          </nav><!-- .navbar -->
          <a class="gets2" style="cursor:pointer;"><button type="button">Property Posting<sup>Free</sup></button></a>
          <li class="user_menu1">
            <div class="dropdown">
              <a href="" style="color: white;"><i class="ShiIcons icon_user" style="cursor: pointer;"></i></a>
              <div class="dropdown-content">
                <a href="#">
                  <h6> LOGIN/REGISTER</h6>
                </a>
                <a href="#">Quick access</a>
                <a href="#">About Us</a>
                <a href="#">Contact Us</a>
                <a class="tele" href="tel:123-456-7890"> <i class="ShiIcons icon_phonecall"></i>
                  <h6>Toll-Free | 10AM-8PM IST <button>1800-768-2234</button></h6>
                </a>
                <button id="Reqcall" type="button"> <i class="ShiIcons icon_phonecall1"></i>Request a callback</button>
              </div>
            </div>
          </li>
          <li class="index_menu1"> <button type="button"><i onclick="openNav()" class="ShiIcons icon_toggle"
                style="cursor: pointer;"></i></button> </li>
          <!-- sidebar bar for mobile and desktop start========================================================================================================= -->
          <div id="mysidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"><i class="ShiIcons icon_cross"></i></a>
            <a href="#"><i class="ShiIcons icon_user1"></i>
              <h6 style="font-weight: 600;">LOGIN/REGISTER</h6>
            </a>
            <a href="#">Home Loan</a>
            <a href="#">Interior</a>
            <a href="#">Legal Property</a>
            <a href="#">Technical Evaluation</a>
            <a href="#">Refer$Earn</a>
            <a href="#">Investor</a>
            <a href="#">About Us</a>
            <a class="tele1" href="tel:123-456-7890"><i class="ShiIcons icon_phonecall"></i>
              <h6>Toll-Free | 10AM-8PM IST <button>1800-768-2234</button></h6>
            </a>
          </div>
          <!-- sidebar bar end=============================================================================================       -->
        </div>
      </header><!--main nav header of 1st page end ------------- -->
      <!-- banner for website================ -->
      <div class="bg_img1">
        <div class="bg-img" id="home" data-popup="popup-reg" style="cursor:pointer;"></div>
      </div>
      <!-- banner for website end================ -->
      <!-- /* scnd navbar on 1st page start ------------------------------------------------------------  */ -->
      <form id="SearchForm" action="/propertylist/" method="get">
        {% csrf_token %}
        <div id="nav2" onclick="openNav1()">
          <div id="up" style="background-image: url("{% static 'images/nav2-bg.png' %}");">
            <h5 class="menu--item__one"><a>Buy</a></h5>
            <h5 class="menu--item__two"><a>Sell</a></h5>
            <h5 class="menu--item__three"><a>Rent</a></h5>
            <h5 class="menu--item__four"><a>pg/Co-living</a></h5>
            <h5 class="menu--item__five"><a>Commercial</a></h5>
            <h5 class="menu--item__six"><a>Agriculture</a></h5>
            <li class="bottom__line"></li>
          </div>
          <div id="down">
            <div id="credential">
              <select class=" dropdown form-select " aria-label="Default select example">
                <option selected>All credential</option>
                <option value="1">Bangalore</option>
                <option value="2">Chennai</option>
                <option value="3">Hyderabad</option>
              </select>
            </div>
            <div class="bar">
              <i  class="ShiIcons icon_search"></i>
              <input class="searchbar" type="text" type="text" id="query" name="query" placeholder="Search Your Dream" title="Search">
              <a href="#"> <i class="ShiIcons icon_voiceicon" title="serach by voice"></i></a>
              <button type="submit" class=" btn1  btn btn-primary">Search</button>
            </div>
          </div>
        </div>
        <!-- sidenav bar for mobile view start ==================================================================== -->
        <div id="mysidenav1" class="sidenav1">
          <div id="nav3">
            <div class="mobilesidenav">
              <a id="active" href="#">Buy</a>
              <a href="#">Rent</a>
              <a href="#">Commercial</a>
            </div>
            <li> <i class="ShiIcons icon_search1"></i><input type="text"  id="query" name="query" placeholder="Search your dream with us"></li>
          </div>
          <a href="javascript:void(0)" class="closebtn" onclick="closeNav1()"><i class="ShiIcons icon_cross1"></i></a>
          <a class="tele1" href="tel:123-456-7890"> <i class="ShiIcons icon_phonecall"></i>
            <h6>Toll-Free | 10AM-8PM IST <button>1800-768-2234</button></h6>
          </a>
        </div>
        <!-- sidenav bar for mobile view  end  ===================================================================   -->
      </form>
      <!-- /* scnd navbar on 1stpage end  ------------------------------------------------------------  */ -->
    </div>
    <!-- top section end=============== -->
    <!-- middle  section===================================================================================-->
    <div class="middle">
   <!-- tools and offers section start======================================================================= -->
      <div class="tools">
        <div class="cmmnheading ch1">
          <h4>SHI Offers and Tools</h4>
        </div>
        <div class="tools1">
          <div class="swiper3 mySwiper5">
            <div class="swiper-wrapper s3">
              <div class="swiper-slide ss3">
                <a href="">
                  <div class="cover"><img src="{%static 'images/p9_500.jpg'%}" alt=""></div>
                </a>
                <h5>Home Interiors</h5>
              </div>
              <div class="swiper-slide ss3">
                <a href="">
                  <div class="cover"><i class="imagesIcon icon_thum"></i></div>
                </a>
                <h5>Home Loan</h5>
              </div>
              <div class="swiper-slide ss3">
                <a href="">
                  <div class="cover"><i class="imagesIcon icon_thum1"></i></div>
                </a>
                <h5>Personal Loan</h5>
              </div>
              <div class="swiper-slide ss3">
                <a href="">
                  <div class="cover"><i class="imagesIcon icon_thum2"></i></div>
                </a>
                <h5>Quick cash</h5>
              </div>
              <div class="swiper-slide ss3">
                <a href="">
                  <div class="cover"><i class="imagesIcon icon_thum3"></i></div>
                </a>
                <h5>Rent now nd Pay later</h5>
              </div>
              <div class="swiper-slide ss3">
                <a href="">
                  <div class="cover"><i class="imagesIcon icon_thum4"></i></div>
                </a>
                <h5>Rent Agreements</h5>
              </div>
              <div class="swiper-slide ss3">
                <a href="">
                  <div class="cover"><img src="{%static 'images/e8_500.jpg'%}" alt=""></div>
                </a>
                <h5>Packers and Movers</h5>
              </div>
              <div class="swiper-slide ss3">
                <a href="">
                  <div class="cover"><img src="{%static 'images/p7_500.jpg'%}" alt=""></div>
                </a>
                <h5>SHI preminum</h5>
              </div>
              <div class="swiper-slide ss3">
                <a href="">
                  <div class="cover"><img src="{%static 'images/p9_500.jpg'%}" alt=""></div>
                </a>
                <h5>Property management</h5>
              </div>
              <div class="swiper-slide ss3">
                <a href="">
                  <div class="cover"><img src="{%static 'images/e2_500.jpg'%}" alt=""></div>
                </a>
                <h5>Pay on credit</h5>
              </div>
            </div>
            <div class=" nextbut swiper-button-next"></div>
            <div class=" prevbut swiper-button-prev"></div>
            <div class="swiper-pagination"></div>
          </div>
        </div>
      </div>
   <!-- tools and offers section start======================================================================= -->

      <!-- left part of middle start =============================================== -->
      <div class="midleft">
        <!-- swiper-pagination 1 start================================== -->
        <div class="swiper mySwiper">
          <div class="cmmnheading">
            <h4>High Demand Projects</h4>
            <h5>Lorem ipsum dolor sit amet consectetur.</h5>
          </div><!-- end section -->
          <div class="swiper-wrapper">
            <div class=" swiper-slide">
              <a href=""> <img src="{%static 'images/p1_500.jpg'%}" loading="lazy" alt=""></a>
              <h5>4bhk luxury villa</h5>
              <p>Lorem ipsum dolor sit amet consectetur.</p>
              <h6>Price 1cr onwards</h6>
            </div> <!-- end section -->
            <div class=" swiper-slide">
              <a href=""><img src="{%static 'images/p2_500.jpg'%}" loading="lazy" alt=""></a>
              <h5>4bhk luxury villa</h5>
              <p>Lorem ipsum dolor sit amet consectetur.</p>
              <h6>Price 1cr onwards</h6>
            </div><!-- end section -->
            <div class=" swiper-slide">
              <a href=""> <img src="{%static 'images/p3_500.jpg'%}" loading="lazy" alt=""></a>
              <h5>4bhk luxury villa</h5>
              <p>Lorem ipsum dolor sit amet consectetur.</p>
              <h6>Price 1cr onwards</h6>
            </div><!-- end section -->
            <div class="swiper-slide">
              <a href=""><img src="{%static 'images/p4_500.jpg'%}" loading="lazy" alt=""></a>
              <h5>4bhk luxury villa</h5>
              <p>Lorem ipsum dolor sit amet consectetur.</p>
              <h6>Price 1cr onwards</h6>
            </div><!-- end section -->
            <div class="swiper-slide">
              <a href=""> <img src="{%static 'images/p5_500.jpg'%}" loading="lazy" alt=""></a>
              <h5>4bhk luxury villa</h5>
              <p>Lorem ipsum dolor sit amet consectetur.</p>
              <h6>Price 1cr onwards</h6>
            </div><!-- end section -->
            <div class="swiper-slide">
              <a href=""><img src="{%static 'images/p6_500.jpg'%}" loading="lazy" alt=""></a>
              <h5>4bhk luxury villa</h5>
              <p>Lorem ipsum dolor sit amet consectetur.</p>
              <h6>Price 1cr onwards</h6>
            </div><!-- end section -->
            <div class="swiper-slide">
              <a href=""> <img src="{%static 'images/p7_500.jpg'%}" loading="lazy" alt=""></a>
              <h5>4bhk luxury villa</h5>
              <p>Lorem ipsum dolor sit amet consectetur.</p>
              <h6>Price 1cr onwards</h6>
            </div><!-- end section -->
            <div class="swiper-slide">
              <a href=""> <img src="{%static 'images/p8_500.jpg'%}" loading="lazy" alt=""></a>
              <h5>4bhk luxury villa</h5>
              <p>Lorem ipsum dolor sit amet consectetur.</p>
              <h6>Price 1cr onwards</h6>
            </div><!-- end section -->
            <div class="swiper-slide">
              <a href=""> <img src="{%static 'images/p9_500.jpg'%}" loading="lazy" alt=""></a>
              <h5>4bhk luxury villa</h5>
              <p>Lorem ipsum dolor sit amet consectetur.</p>
              <h6>Price 1cr onwards</h6>
            </div><!-- end section -->
          </div>
          <div class=" nextbut swiper-button-next"></div>
          <div class=" prevbut swiper-button-prev"></div>
          <div class="swiper-pagination"></div>
        </div>
        <!-- swiper-pagination 1 end================================== -->
        <!-- swiper-pagination 2 start================================== -->
        <div class="swiper mySwiper1">
          <div class="cmmnheading">
            <h4>Luxury Homes</h4>
            <h5>Lorem ipsum dolor sit amet consectetur.</h5>
          </div>
          <div class="swiper-wrapper">
            <div class=" swiper-slide">
              <a href=""> <img src="{%static 'images/e1_500.jpg'%}" loading="lazy" alt=""></a>
              <h5>4bhk luxury villa</h5>
              <p>Lorem ipsum dolor sit amet consectetur.</p>
              <h6>Price 1cr onwards</h6>
            </div><!-- end section -->
            <div class=" swiper-slide">
              <a href=""> <img src="{%static 'images/e2_500.jpg'%}" loading="lazy" alt=""></a>
              <h5>4bhk luxury villa</h5>
              <p>Lorem ipsum dolor sit amet consectetur.</p>
              <h6>Price 1cr onwards</h6>
            </div><!-- end section -->
            <div class=" swiper-slide">
              <a href=""> <img src="{%static 'images/e3_500.jpg'%}" loading="lazy" alt=""></a>
              <h5>4bhk luxury villa</h5>
              <p>Lorem ipsum dolor sit amet consectetur.</p>
              <h6>Price 1cr onwards</h6>
            </div><!-- end section -->
            <div class="swiper-slide">
              <a href=""><img src="{%static 'images/e4_500.jpg'%}" loading="lazy" alt=""></a>
              <h5>4bhk luxury villa</h5>
              <p>Lorem ipsum dolor sit amet consectetur.</p>
              <h6>Price 1cr onwards</h6>
            </div><!-- end section -->
            <div class="swiper-slide">
              <a href=""><img src="{%static 'images/e5_500.jpg'%}" loading="lazy" alt=""></a>
              <h5>4bhk luxury villa</h5>
              <p>Lorem ipsum dolor sit amet consectetur.</p>
              <h6>Price 1cr onwards</h6>
            </div><!-- end section -->
            <div class="swiper-slide">
              <a href=""> <img src="{%static 'images/e6_500.jpg'%}" loading="lazy" alt=""></a>
              <h5>4bhk luxury villa</h5>
              <p>Lorem ipsum dolor sit amet consectetur.</p>
              <h6>Price 1cr onwards</h6>
            </div><!-- end section -->
            <div class="swiper-slide">
              <a href=""><img src="{%static 'images/e7_500.jpg'%}" loading="lazy" alt=""></a>
              <h5>4bhk luxury villa</h5>
              <p>Lorem ipsum dolor sit amet consectetur.</p>
              <h6>Price 1cr onwards</h6>
            </div><!-- end section -->
            <div class="swiper-slide">
              <a href=""><img src="{%static 'images/e8_500.jpg'%}" loading="lazy" alt=""></a>
              <h5>4bhk luxury villa</h5>
              <p>Lorem ipsum dolor sit amet consectetur.</p>
              <h6>Price 1cr onwards</h6>
            </div><!-- end section -->
            <div class="swiper-slide">
              <a href=""><img src="{%static 'images/e9_500.jpg'%}" loading="lazy" alt=""></a>
              <h5>4bhk luxury villa</h5>
              <p>Lorem ipsum dolor sit amet consectetur.</p>
              <h6>Price 1cr onwards</h6>
            </div><!-- end section -->
          </div>
          <div class=" nextbut swiper-button-next"></div>
          <div class=" prevbut swiper-button-prev"></div>
          <div class="swiper-pagination"></div>
        </div>
        <!-- swiper-pagination 2 end================================== -->
        <!-- swiper-pagination 3 start================================== -->
        <div class="swiper mySwiper2">
          <div class="cmmnheading">
            <h4>Discover New Launches</h4>
            <h5>Lorem ipsum dolor sit amet consectetur.</h5>
          </div>
          <div class="swiper-wrapper">
            <div class=" swiper-slide">
              <a href=""> <img src="{%static 'images/p1_500.jpg'%}" loading="lazy" alt=""></a>
              <h5>4bhk luxury villa</h5>
              <p>Lorem ipsum dolor sit amet consectetur.</p>
              <h6>Price 1cr onwards</h6>
            </div><!-- end section -->
            <div class=" swiper-slide">
              <a href=""> <img src="{%static 'images/p2_500.jpg'%}" loading="lazy" alt=""></a>
              <h5>4bhk luxury villa</h5>
              <p>Lorem ipsum dolor sit amet consectetur.</p>
              <h6>Price 1cr onwards</h6>
            </div><!-- end section -->
            <div class=" swiper-slide">
              <a href=""><img src="{%static 'images/e3_500.jpg'%}" loading="lazy" alt=""></a>
              <h5>4bhk luxury villa</h5>
              <p>Lorem ipsum dolor sit amet consectetur.</p>
              <h6>Price 1cr onwards</h6>
            </div><!-- end section -->
            <div class="swiper-slide">
              <a href=""> <img src="{%static 'images/p4_500.jpg'%}" loading="lazy" alt=""> </a>
              <h5>4bhk luxury villa</h5>
              <p>Lorem ipsum dolor sit amet consectetur.</p>
              <h6>Price 1cr onwards</h6>
            </div><!-- end section -->
            <div class="swiper-slide">
              <a href=""> <img src="{%static 'images/p5_500.jpg'%}" loading="lazy" alt=""></a>
              <h5>4bhk luxury villa</h5>
              <p>Lorem ipsum dolor sit amet consectetur.</p>
              <h6>Price 1cr onwards</h6>
            </div><!-- end section -->
            <div class="swiper-slide">
              <a href=""> <img src="{%static 'images/e6_500.jpg'%}" loading="lazy" alt=""></a>
              <h5>4bhk luxury villa</h5>
              <p>Lorem ipsum dolor sit amet consectetur.</p>
              <h6>Price 1cr onwards</h6>
            </div><!-- end section -->
            <div class="swiper-slide">
              <a href=""><img src="{%static 'images/p7_500.jpg'%}" loading="lazy" alt=""></a>
              <h5>4bhk luxury villa</h5>
              <p>Lorem ipsum dolor sit amet consectetur.</p>
              <h6>Price 1cr onwards</h6>
            </div><!-- end section -->
            <div class="swiper-slide">
              <a href=""><img src="{%static 'images/e8_500.jpg'%}" loading="lazy" alt=""></a>
              <h5>4bhk luxury villa</h5>
              <p>Lorem ipsum dolor sit amet consectetur.</p>
              <h6>Price 1cr onwards</h6>
            </div><!-- end section -->
            <div class="swiper-slide">
              <a href=""> <img src="{%static 'images/p9_500.jpg'%}" loading="lazy" alt=""></a>
              <h5>4bhk luxury villa</h5>
              <p>Lorem ipsum dolor sit amet consectetur.</p>
              <h6>Price 1cr onwards</h6>
            </div><!-- end section -->
          </div>
          <div class=" nextbut swiper-button-next"></div>
          <div class=" prevbut swiper-button-prev"></div>
          <div class="swiper-pagination"></div>
        </div>
        <!-- swiper-pagination 3 end================================== -->
        <!-- swiper-pagination 4start================================== -->
        <div class="upcoming">
          <div class="swiper1 mySwiper3 ">
            <div class="cmmnheading">
              <h4>UpComing Projects</h4>
              <h5>Lorem ipsum dolor sit amet consectetur.</h5>
            </div>
            <div class="swiper-wrapper s1">
              <div class=" swiper-slide ss1">
                <a href=""> 
                  <div class="pricing" >
                 <div class="p1">
                  <h4>Poorvaland Apartments</h4>
                  <h6>Lorem ipsum dolor sit amet.</h6>
                </div>
                 <div class="p1">
                  <h4>2,3,4+Bhk</h4>
                  <h6>$1cr-3.5cr</h6>
                 </div>
                </div>
                <img src="{%static 'images/e1_500.jpg'%}" loading="lazy" alt="">
              </a>
              </div>
              <div class=" swiper-slide ss1">
                <a href="">
                  <div class="pricing" >
                    <div class="p1">
                     <h4>Shobha Apartments</h4>
                     <h6>Lorem ipsum dolor sit amet.</h6>
                   </div>
                    <div class="p1">
                     <h4>2,3,4+Bhk</h4>
                     <h6>$60lkhs-2.5cr</h6>
                    </div>
                   </div>
                  <img src="{%static 'images/p4_500.jpg'%}" loading="lazy" alt="">
                </a>
              </div>
              <div class=" swiper-slide ss1">
                <a href="">
                  <div class="pricing" >
                    <div class="p1">
                     <h4>Prestige Apartments and Villas</h4>
                     <h6>Lorem ipsum dolor sit amet.</h6>
                   </div>
                    <div class="p1">
                     <h4>2,3,4+Bhk</h4>
                     <h6>$1.1cr-4.3cr</h6>
                    </div>
                   </div>
                   <img src="{%static 'images/p5_500.jpg'%}" loading="lazy" alt=""> 
                  
                </a>
              </div>
            </div>
            <div class="nextbut swiper-button-next"></div>
            <div class="prevbut swiper-button-prev"></div>
            <div class="swiper-pagination"></div>
          </div>
          <button id="callback" type="submit">
            <h6>We Would Love To Help You</h6><i class="ShiIcons icon_phonecall"></i>Request a Callback
          </button>
        </div>
        <!-- swiper-pagination 4 end================================== -->
        <!-- swiper-pagination 5 end================================== -->
        <div class="swiper2 mySwiper4 ">
          <div class="cmmnheading">
            <h4>Properties And Villas For You</h4>
            <h5>Lorem ipsum dolor sit amet consectetur.</h5>
          </div>
          <div class="swiper-wrapper s2">
            <div class=" swiper-slide ss2">
              <a href=""> <img src="{%static 'images/A1.webp'%}" loading="lazy" alt=""></a>

            </div> <!-- end section -->
            <div class=" swiper-slide ss2">
              <a href=""><img src="{%static 'images/A2.webp'%}" loading="lazy" alt=""></a>

            </div><!-- end section -->
            <div class=" swiper-slide ss2">
              <a href=""> <img src="{%static 'images/A3.webp'%}" loading="lazy" alt=""></a>

            </div><!-- end section -->
            <div class="swiper-slide ss2">
              <a href=""><img src="{%static 'images/A4.webp'%}" loading="lazy" alt=""></a>

            </div><!-- end section -->
            <div class="swiper-slide ss2">
              <a href=""> <img src="{%static 'images/A5webp'%}" loading="lazy" alt=""></a>
            </div><!-- end section -->
            <div class="swiper-slide ss2">
              <a href=""> <img src="{%static 'images/A6.webp'%}" loading="lazy" alt=""></a>
            </div><!-- end section -->           
             <div class="swiper-slide ss2">
              <a href=""> <img src="{%static 'images/A7.webp'%}" loading="lazy" alt=""></a>
            </div><!-- end section -->          
          </div>
          <div class="nextbut swiper-button-next"></div>
          <div class="prevbut swiper-button-prev"></div>
          <div class="swiper-pagination"></div>
        </div>
        <!-- swiper-pagination 5 end================================== -->
      </div>
      <!-- left part of middle end=============================================== -->
      <!-- right part of middle start=============================================== -->
      <div class="midright">
        <div class="box1"> <!-- section start======== -->
          <a href=""><img src="{%static 'images/p6_500.jpeg'%}" alt=""></a>
          <a href=""><button id="box1button">LOGIN\REGISTER</button></a>
        </div><!-- end section ======== -->
        <div class="box2">
          <a href=""><img
              src="{%static 'images/invest.png'%}"
              alt=""></a>
        </div><!-- end  section ======== -->
        <div class="box3">
          <h6>Top Rated Builders In India</h6>
          <div id="top-builder">
            <div class="topb"><a href=""><img
                  src="{% static 'images/prestige.jpg'%}"
                  alt=""></a></div>
            <div class="topb"><a href=""><img
                  src="{%static 'images/godrej.png'%}"
                  alt=""></a></div>
            <div class="topb"><a href=""><img
                  src="{%static 'images/Shobha.png'%}" alt=""></a>
            </div>
            <div class="topb"><a href=""><img
                  src="{%static 'images/assetz.jpeg'%}"
                  alt=""></a></div>
            <div class="topb"><a href=""><img
                  src="{%static 'images/tvs.png'%}"
                  alt=""></a></div>
          </div>
        </div><!-- end section ======== -->
      </div>
      <!-- right part of middle end=============================================== -->
    </div>
    <!-- middle section end======================================================================= -->
  </main>
  <!-- Vendor JS Files -->
  <script src="{%static 'js/swiper-bundle1.js'%}"></script>
  <script src="{%static 'js/new-index.js'%}"></script>
  <script src="{%static 'js/new-header.js'%}"></script>
{% endblock %} 