*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body
{
  width: 100%;
  height: 100%;
}
#header,
.gets2,
.index_menu1,
.user_menu1 {
position: absolute
}
*::-webkit-scrollbar {
display: none
}
#header li,
.navbar {
list-style: none
}
a,
a:hover {
text-decoration: none
}

#header {
background: 0 0;
height: 65px;
top: 0;
z-index: 10;
}
#header .logo{
  position: absolute;
left: 4%;
}
#header .logo img {
  max-height: 57px
}
img,
svg {
vertical-align: middle
}

.gets2 {
right: 110px
}

.gets2 button {
background-color: #fff;
border: none;
color: #000;
font-size: 14px;
font-weight: 600;
border-radius: 5px;
padding: 5px 15px
}

.index_menu1 {
right: 20px
}

.index_menu1 button,
.user_menu1 button {
background-color: transparent;
color: #fff;
border: none
}

.user_menu1 {
margin-bottom: -1px;
right: 60px
}

.user_menu1 .dropdown-content {
display: none;
margin-left: -230px;
width: 300px;
background-color: #fff;
height: 300px;
border-radius: 8px;
box-shadow: 0 2px 14px -1px #000;
position: absolute;
z-index: 1
}

.tele,
.tele1 {
width: 100%;
height: 60px;
position: absolute;
display: flex !important;
border: .2px solid rgba(0, 0, 0, .055)
}

.dropdown-content a {
color: #000;
font-size: 14px;
padding: 8px 20px;
text-decoration: none;
display: block
}

.dropdown-content a h6 {
font-weight: 600;
text-align: center;
margin-top: 10px;
color: #1faac9
}

.tele {
top: 56.5%;
align-items: center !important
}

.tele1:hover,
.tele:hover {
background-color: #ffffffb0
}

.tele h6 {
font-size: 12px;
margin-right: 30px
}

.tele button {
font-size: 16px;
color: #000;
font-weight: 600
}

.tele i {
font-size: 20px !important;
margin-left: 20px
}

.tele1 {
bottom: 1px;
align-items: center !important
}

#Reqcall,
.navbar {
position: absolute;
display: flex
}

.tele1 h6 {
font-size: 12px;
margin-left: 20px;
color: #1faac9
}

.tele1 button {
font-size: 16px;
color: #000;
font-weight: 600;
border: none;
background-color: #fff
}

#Reqcall, 
.navbar button {
background-color: transparent
}

.tele1 i {
font-size: 20px !important;
margin-left: 10px
}

#Reqcall {
bottom: 3%;
left: 11%;
align-items: center;
font-size: 14px;
font-weight: 600;
padding: 1px 40px;
border: 2px solid #1faac9;
border-radius: 5px;
color: #1faac9;
box-shadow: 0 0 3px 0 #1faac9
}

#Reqcall i {
font-size: 22px;
margin-top: 8px;
margin-right: 7px
}

.dropdown-content a:hover {
background-color: #ddd
}

.user_menu1 .dropdown:hover .dropdown-content {
display: block
}

.index_menu1,
.user_menu1 i {
font-size: 1px;
/* font-weight: 400 */
}

.navbar {
right: 300px;
align-items: center
}

.navbar button {
margin-left: 15px;
border: none;
color: #fff;
font-size: 15px;
font-weight: 600
}

.navbar button:hover {
color: #5faee3
}
.userdrop {
margin-right: 27px;
width: 0px;
margin-top:-1px;
}

.dropdown1,
.dropdown2 {
margin-bottom: 8px;
color: #000
}

#down1,
.bar1 {
display: flex
}

#header1 {
width: 100%;
height: 65px;
top: -65px;
z-index: 40;
transition: .3s;
background-color: #004fb1;
position: fixed
}
.dropdown1:focus{
box-shadow: none;
}
.dropdown2:focus{
box-shadow: none;
}
#down1,
.arrow1,
.bar1 .ver1,
.gets1,
.index_menu,
.logoo,
.voice1 {
position: absolute
}

.logoo {
left: 50px;
top: 15px
}

#header1 .logoo img {
padding: 0;
margin-top: -4%;
max-height: 50px
}

#down1 {
width: 55%;
height: 50px;
background-color: #fff;
right: 25%;
border-radius: 10px
}

.dropdown1,
.dropdown2,
.searchbar1 {
border: none;
background-color: transparent
}

.dropdown1 {
width: 60%;
font-size: 14px;
font-weight: 600
}

.dropdown1:hover {
cursor: pointer;
color: #1a95b4
}

.dropdown2 {
width: 40%;
font-weight: 600 !important
}

.dropdown2,
option,
select {
font-size: 14px;
font-weight: 500
}

.dropdown2:hover {
cursor: pointer;
color: #1faac9
}

.bar1 .ver1,
.ver {
font-size: 25px;
color: rgba(0, 0, 0, .356)
}

.ver {
margin-left: -9px;
font-weight: 100;
margin-top: -1px;
}

.bar1 .ver1 {
right: 7%;
margin-top: -3px
}

.bar1 {
width: 70%;
height: 47px;
margin-top: 5px;
border-radius: 3px
}

.bar1:focus-within {
outline: 0
}

.searchbar1 {
height: 40px;
border-radius: 10px;
font-weight: 400;
width: 450px;
font-size: 13px;
outline: 0;
white-space: nowrap;
overflow-x: auto;
overflow-y: hidden;
align-items: flex-start;
margin-left: 10px;
}

#header1 li,
.navbar1 li {
list-style: none
}

.arrow1 {
  right: 26.3%;
  margin-top: -17px;
}

.arrow1 button {
background-color: transparent;
border: none;
}
.btn2,
.btn2:hover,
.gets1 button {
background-color: #fff;
color: #000
}

.voice1 {
color: #000;
margin-top: 6px;
right: 10%;
opacity: 4;
font-size: 16px
}

.btn2 {
margin-top: 5px;
margin-left: 20px;
border: none;
border-radius: 30px;
font-size: 15px;
font-weight: 500
}

.gets1 {
right: 7%
}

.gets1 button {
border: none;
font-size: 14px;
font-weight: 600;
border-radius: 5px;
padding: 5px 15px
}

.gets1 button sup,
.gets2 button sup {
margin-left: 4px;
background-color: #1faac9;
padding: 1px;
border-radius: 2px;
color: #fff
}

.index_menu {
right: 20px
}

.index_menu button {
background-color: transparent;
color: #fff;
border: none
}

.index_menu i {
font-size: 22px;
font-weight: 400
}
.sidenav {
height: 100%;
width: 0%;
position: fixed;
z-index: 999;
top: 0;
right: 0;
border-top-left-radius: 20px;
background-color: #fff;
overflow-x: hidden;
padding-top: 20px;
transition: .3s
}
.sidenav h6 {
color: rgb(113,180,235);
}
.sidenav a {
padding: 8px 8px 8px 32px;
text-decoration: none;
margin-top: 10px;
font-size: 16px;
color: #000;
display: flex;
transition: .3s
}

.sidenav a i {
margin-top: -2px;
margin-right: 8px;
}

.sidenav a:hover {
color: #1faac9;
background-color: rgba(0, 0, 0, .068)
}

.closebtn {
position: absolute;
top: 20px;
right: 25px
}

/* commom nav header of only 1st page mobile query start ----------------------------------------------------------------------------*/
.hideS{
display: none;
}
@media only screen and (max-width:1480px) {
#header,
#header1 .logoo,
#user_menu,
.arrow1 {
  position: absolute
}
#header {
  height: 65px;
  top: 0;
  z-index: 10;
}

#header .logo {
  margin-top: -7px
}

#header .logo img,
#header1 .logoo img {
  max-height: 45px
}

#header1 {
  z-index: 40
}

#header1 .logoo {
  left: 10px;
  top: 20px
}

#down1,
.gets1,
.navbar {
  display: none
}

.arrow1 {
  bottom: 15px;
  right: 83px;
}
.hideS{
  display: contents;
  font-size: 11px;
  font-weight: 600;

  }
.arrow1 button {
  padding: 1px 12px 1px 12px;
  background-color: white;
  border-radius: 20px;
}
.ShiIcons.icon_search1 {
  margin-bottom: 4px;
  margin-left: 10px;
}
.index_menu {
  bottom: 18px;
  right: 10px
}

.index_menu1 {
  right: 10px!important;
  top: 22px
}

.user_menu1 {
  right: 43px;
}

#user_menu {
  width: 0px;
  right: 100px;
  top: 35%!important;
}

.user_menu1 .dropdown-content {
  display: none;
  margin-top: 5px;
  margin-left: -245px;
  width: 300px;
  background-color: #fff;
  height: 300px;
  border-radius: 8px;
  box-shadow: 0 2px 14px -1px #000;
  position: absolute
}

.gets2 {
  background-color: transparent;
  letter-spacing: .1px;
  margin-top: -3px;
  right: 77px;
  color: #fff;
  border: none
}

.gets2 button {
  font-size: 9px;
  font-weight: 600;
  border-radius: 5px;
  padding: 3px
}
}
/* commom nav header of only 1st page mobile query ends ----------------------------------------------------------------------------*/
